.container{
    display: flex;
    
}
.container >div {
    background:#eee;
    padding: 1em;
}
.container > div:nth-child(odd){
    background: #ddd;
}   
 .history{
    order: 1;
    flex: 1;
}
.tempContainer{
    order: 2;
    flex:5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
} 

.tempContainer> div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:#333 1px solid;
    padding:5em;
    border-radius: 30px;
    background-color: white;
        
}
.fas{
    color: yellow;
    font-size: 80px;
}




